<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/index.js"></script>
    <title></title>
</head>
<body>
    <nav class="navbar background navheight-resp">
        <ul class="nav-list  vclass-resp">
            <div class="logo"><img src="../css/img.jpg" alt="logo"></div>
             <li><a href="/" id="home">Home</a></li>
             <li><a href="/" id="about">About</a></li>
             <li><a href="/" id="services">Services</a></li>
             <li><a href="/contact" id="contact">Contact Us</a></li>
        </ul>
        <div class="rightnav vclass-resp">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="contact" id="contact">
        <h2 class="textcenter">Contact Us</h2>
        <form class="form" action="/submit" method="post">
            <input class="forminput" type="text" name="name" id="name" placeholder="Enter Your Name">
            <input class="forminput" type="phonenumber" name="phonenumber" id="phonenumber" placeholder="Enter Your Phone Number">
            <input class="forminput" type="email" name="email" id="email" placeholder="Enter Your Email">
            <textarea class="forminput" name="text" id="text" cols="30" rows="10" placeholder="Tell Your Concerns"></textarea>
            <button class="btn btn-sm btn-dark">Submit</button>
        </form>

    </section>



</body>
</html>